**/.vscode/
*.cache
*.user
obj/
.idea/
.vs/
.antlr/

*.user

**/**/obj/*

YALCompiler/YALParser/gen/

YALCompiler/YALParser/obj/

YALCompiler/YALCompiler/obj/

YALCompiler/YALCompiler/bin/Debug/net7.0/

YALCompiler/YALCompiler/bin/Debug/
